body {
    margin: 0;
    padding: 0%;
}

#dacian {
    width: 375px;
    height: 812px;
    margin: 0% auto;
}

.miaou {
    width: 375px;
    height: 88px;
    background-color: #ffffff;
}
.lunarian {
    width: 375px;
    height: 60px;
}